# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Poetry
poetry.lock

# Virtual Environments
.env
.venv
env/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# NovaSystem Benchmarking specific
novasystem_benchmarking/data/benchmarks/*.json
!novasystem_benchmarking/data/benchmarks/.gitkeep

# Logs
*.log